#default-layout {
  margin-top: 15px;
}

#registry-layout {
  margin-top: 15px;
}

#landing-page {
  background: #333 url("../images/spider-web.jpg") no-repeat scroll;
}

#landing-page-top {
  height: 200px;
  margin-bottom: 20px;
}

#landing-page-top-title {
  background-color: #333;
  border-color: #333;
  margin-top: 25px;
  color: #ccc;
}

#landing-page-letter {
  color: #666;
  font-size: 1.5em;
  margin-bottom: 180px;
}

#landing-page-letter .btn {
  color: #000;
}

.btn-truffle {
  color: #fff;
  background-color: #00D1B2;
  border-color: #00D1B2;
}

i.truffle-logo {
  background: url("../images/truffle-logo.png") no-repeat scroll;
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
