#default-layout {
  margin-top: 15px;
}

#registry-layout {
  margin-top: 15px;
}

#landing-page {
  background: #333 url("../images/spider-web.jpg") no-repeat scroll;
}

#landing-page-top {
  height: 350px;
  margin-bottom: 20px;
}

#landing-page-top-title {
  background-color: #333;
  border-color: #333;
  margin-top: 75px;
  color: #ccc;
}

#landing-page-letter {
  color: #666;
  font-style: italic;
  font-size: 1.5em;
}
